<template>
  <div id="main">
    <Slider titulo='Blog' />
    <div class="center">
      <section id="content">
        <!--  -->
        <h2 class="subheader">Blog</h2>
      </section>

      <Sidebar />
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Slider from "./Slider.vue";
import Sidebar from "./Sidebar.vue";
export default {
  name: "Blog",
  components: {
    Sidebar,
    Slider
  }
};
</script>