<template>
  <!-- Plantilla obligatoria -->
  <div id="componente1">
    <hr />
    <!-- tiene que estar encapsulado en una sola etiqueta -->
    <h1>Componente 1</h1>
    <h2>{{ subtitulo }}</h2>
    <hr />

    <h2>Reactividad</h2>
    <!-- directiva v-model hace binding bidireccional como en angular -->
    <input type="text" v-model="nombre" name id />
    <p>
      Me llamo
      <strong>{{nombre}}</strong>
    </p>
    <h2>Directivas condicionales</h2>
    <input type="number" name v-model="edad" id />
    <p>
      Tengo
      <strong>{{edad}}</strong>
    </p>
    <strong style="color:lightgreen" v-if="edad && edad > 17">Ola k ase</strong>
    <strong style="color:red" v-if="!edad | edad < 18">Esta chikito o k ase</strong>

    <h2>Directiva de iteración</h2>
    <ol>
      <li :key='pelicula' v-for='pelicula in peliculas'>{{pelicula}}</li>
    </ol>
  </div>
</template>

<script>
export default {
  name: "Componente1",
  data() {
    return {
      subtitulo: "Soy el subtítulo del componente 1",
      nombre: "",
      edad: 29,
      peliculas: ['Fantasma en la concha','Los Avengers', 'El bromas']
    };
  }
};
</script>