<template>
  <!-- Plantilla obligatoria -->

  <section id="content">
    <h2 class="subheader">Página no encontrada</h2>
    <p>La ṕagina no existe</p>
  </section>
</template>

<script>
export default {
  name: "Error404"
};
</script>