<template>
     <footer id="footer">
            <div class="center">
                <p>
                    &copy; Master en frameworks para JS 
                </p>
            </div>
        </footer>
</template>

<script>
export default {
    name: 'FooterVue'
}
</script>