<template>
  <div id="main">
    <div class="center">
      <section id="content">
        <!--  -->
        <h1 class="subheader">Formulario</h1>
        <form class="mid-form" @submit.prevent="mostrarUsuario()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" v-model="user.nombre" id />
            <div v-if="submitted&&!$v.user.nombre.required">Este campo es requerido</div>
            <div v-if="!$v.user.nombre.minLength">El campo es muy corto</div>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" v-model="user.apellido" id />
            <div v-if="submitted&&!$v.user.apellido.required">Este campo es requerido</div>
            <div v-if="!$v.user.apellido.minLength">El campo es muy corto</div>
          </div>
          <div class="form-group">
            <label for="bio">Biografia</label>
            <textarea name="bio" v-model="user.bio" id></textarea>
            <div v-if="submitted&&!$v.user.bio.required">Este campo es requerido</div>
            <div v-if="!$v.user.bio.minLength">El campo es muy corto</div>
          </div>
          <div class="form-group radiobuttons">
            <input type="radio" name="genero" v-model="user.gen" value="hombre" id />Hombre
            <input type="radio" name="genero" v-model="user.gen" value="mujer" id />Mujer
            <input type="radio" name="genero" v-model="user.gen" value="otro" id />Otro
            <div v-if="submitted&&!$v.user.gen.required">Este campo es requerido</div>
          </div>
          <div class="clearfix"></div>
          <input type="submit" value="Enviar" class="btn btn-success" />
        </form>
      </section>
      <Sidebar />
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import Sidebar from "./Sidebar.vue";
export default {
  name: "Formulario",
  components: {
    Sidebar
  },
  // validaciones
  validations: {
    user: {
      nombre: {
        required,
        minLength: minLength(2)
      },
      apellido: {
        required,
        minLength: minLength(2)
      },
      bio: {
        required,
        minLength: minLength(2)
      },
      gen: {
        required,
        minLength: minLength(2)
      }
    }
  },
  data() {
    return {
      submitted: false,
      user: {
        nombre: "",
        apellido: "",
        bio: "",
        gen: ""
      }
    };
  },
  methods: {
    mostrarUsuario() {
      console.log(this.user);
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false;
      }

      alert("Validado");
    }
  }
};
</script>