<template>
  <header id="header">
    <div class="center">
      <!--logo-->
      <div id="logo">
        <img src="../assets/images/vue.svg" class="app-logo" alt="Logotipo" />
        <span id="brand">
          <strong>Curso</strong>Vue
        </span>
      </div>
      <!--menu-->
      <nav id="menu">
        <ul>
          <li>
            <router-link active-class='active' to="/home">Inicio</router-link>
          </li>
          <li>
            <router-link active-class='active' to="/blog">Blog</router-link>
          </li>
          <li>
            <router-link active-class='active' to="/formulario">Formulario</router-link>
          </li>
          <li>
            <!-- Para pasar un objeto con :to -->
            <router-link active-class='active' :to="{name:'pagina', params:{id: 'Soy el valor o k ase'}}">Pagina 1</router-link>
          </li>
          <li>
            <router-link active-class='active' to="/peliculas">Peliculas</router-link>
          </li>
        </ul>
      </nav>
      <!--limpia float-->
      <div class="clearfix"></div>
    </div>
  </header>
</template>

<script>
export default {
  name: "HeaderVue"
};
</script>