<template>
  <div id="main">
    <Slider home='true' titulo='Bienvenido al master en frameworks para JS' />
    <div class="center">
      <section id="content">
        <h2 class="subheader">Ultimos articulos</h2>
        <div id="articles">
          <article class="article-item" id="article-template">
            <div class="image-wrap">
              <img
                src="https://www.istockphoto.com/resources/images/PhotoFTLP/Essential-images-we-love-1055891344.jpg"
                alt="img"
              />
            </div>
            <h2>Articulo de prueba</h2>
            <span class="date">Hace 5 minutos</span>
            <a href="#">Leer mas</a>
            <div class="clearfix"></div>
          </article>
        </div>
      </section>
      <Sidebar />
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import Slider from "./Slider.vue";
import Sidebar from "./Sidebar.vue";

export default {
  name: "LastArticles",
  components:{
    Sidebar, Slider
  }
};
</script>