<template>
  <div id="main">
    <Slider titulo='Pagina de prueba' />
    <div class="center">
      <section id="content">
        <!--  -->
        <h2 class="subheader">Página de prueba</h2>
        <h3>{{id_url}}</h3>
        <h4>{{this.nombre}}</h4>
        <button @click="actualizarNombre">Actualizar nombre</button>
        <button @click="redirigir">Ir al blog</button>
      </section>
      <Sidebar />
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Slider from "./Slider.vue";
import Sidebar from "./Sidebar.vue";
export default {
  name: "Pagina",
  components: {
    Sidebar,
    Slider
  },
  created() {
    console.log("created");
  },
  mounted() {
    // este es un método del ciclo de vida similar a ngOnInit(angular) o componentDidMount(react)
    // this.id_url = "Ola k ase soy el dato de la propiedad o k ase";
    this.id_url = this.$route.params.id;
    // alert(this.id_url);
    console.log("mounted");
  },
  updated() {
    console.log("updated");
  },
  destroyed() {
    console.log("destroyed");
  },
  data() {
    return {
      id_url: null,
      nombre: "Carlos"
    };
  },
  // Aqui van los metodos propios
  methods: {
    actualizarNombre() {
      this.nombre = "Carlos D";
      console.log(this.nombre);
    },
    redirigir() {
      // this.$router.push('/blog');
      this.$router.push({ name: "pagina", params: { id: "Redirect" } });
    }
  }
};
</script>