<template>
  <article class="article-item" id="article-template">
    <div class="image-wrap">
      <!-- Hay que usar v-bind con : dentro de las propiedades de las etiquetas html de un v-for -->
      <img :src="pelicula.image" :alt="pelicula.title" />
    </div>
    <h2>{{pelicula.title}}</h2>
    <span class="date">Hace 5 minutos</span>
    <span
      class="year"
      :class="{
          'year-green': pelicula.year >=2018,
          'year-red': pelicula.year <2018
        }"
    >{{pelicula.year}}</span>

    <a href="#">Leer mas</a>
    <input style="width:130px" type="button" @click="pasarFavorita(pelicula)" value="Favorita/" />
    <div class="clearfix"></div>
  </article>
</template>

<script>
export default {
  name: "Pelicula",
  props: ["pelicula"],
  methods: {
    pasarFavorita(pelicula) {
      this.$emit('favorita',pelicula); //Emitir evento hacia el componente superior y llamarlo con @ o v-on:
    }
  }
};
</script>