<template>
  <div id="main">
    <!-- <Slider /> -->
    <div class="center">
      <section id="content">
        <h2 class="subheader">Películas</h2>
        <div class='fav' v-if="favorita">
          <h3>{{favorita.title | concatYear('ola k ase') }}</h3>
        </div>
        <!--  -->
        <div id="articles">
          <div :key="pelicula.title" v-for="pelicula in peliculasMayusculas">
            <Pelicula :pelicula="pelicula" @favorita="peliculaRecibida"></Pelicula>
            <!-- Evento definido en el componente hijo -->
          </div>
        </div>
      </section>

      <Sidebar />
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
// import Slider from "./Slider.vue";
import Sidebar from "./Sidebar.vue";
import Pelicula from "./Pelicula";
export default {
  name: "Peliculas",
  components: { Pelicula, Sidebar },
  methods: {
    peliculaRecibida(favorita) {
      this.favorita = favorita;
    }
  },
  // filtros
  filters: {
    mayusc(value){
      return value.toLowerCase();
    },
    concatYear(value, msg){
      var date = new Date();
      return value + ' ' + date.getFullYear() + ' '+ msg;
    }
  },
  // propiedades computada
  computed:{
    peliculasMayusculas(){
    var pelis = this.peliculas;
      pelis.forEach(pelicula => {
        pelicula.title = pelicula.title.toUpperCase();
      });
    return pelis;
    }
  },
  data() {
    return {
      favorita: null,
      peliculas: [
        {
          year: 2017,
          title: "Fantasma en la Concha",
          image:
            "https://cdn2.actitudfem.com/media/files/styles/big_img/public/images/2017/03/ghost.jpg"
        },
        {
          year: 2019,
          title: "Los Avengers",
          image:
            "https://bombanoise.com/wp-content/uploads/2019/02/avengers-endgame-heroes-in-war-wallpaper-800x600-15969_17-1.jpg"
        },
        {
          year: 2019,
          title: "El Bromas",
          image:
            "https://images.wallpapersden.com/image/download/2019-joker-movie-4k_66970_800x600.jpg"
        }
      ]
    };
  }
};
</script>