<template>
  <div id="slider" :class="{
    'slider-big': home,
    'slider-small': !home
  }">
    <h1>{{titulo}}</h1>
    <router-link v-if='home' to="/blog" class="btn-white">Ir al blog</router-link>
  </div>
</template>
<script>
export default {
  name: "Slider",
  props:['titulo','home']
};
</script>