<template>
  <div id="app">
    <HeaderVue />

    <!-- <LastArticles/> -->
    <router-view></router-view>

    <FooterVue />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Componente1 from './components/Componente1.vue'
import HeaderVue from "./components/Header.vue";
// import Slider from "./components/Slider.vue";
// import Sidebar from "./components/Sidebar.vue";
// import LastArticles from './components/LastArticles.vue';
import FooterVue from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    // HelloWorld,
    HeaderVue,
    // Slider,
    // LastArticles,
    // Sidebar,
    FooterVue
    // Componente1 //hay que cargarlo en cada clase donde se va a usar
  }
};
</script>



<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

@import "./assets/css/styles.css";
</style>
